extends ../layouts/main

block content
  h2 Kitchen List

  table.table
    thead
      tr
        th ID
        th Name
    tbody
      each k in kitchens
        tr
          td #{k.id}
          td #{k.name}
