extends ../layouts/main

block content
  .login-box
    h2 Login

    if error
      p.error #{error}

    form(action="/login" method="POST")
      label Username
      input(type="text" name="username" required)

      label Password
      input(type="password" name="password" required)

      button.btn(type="submit") Login
